<div class="container mt-5">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Teachers Data
      <span class="badge badge-primary badge-pill"><%= link_to 'View' , teachers_path, class: "btn btn-primary" %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Students Data
      <span class="badge badge-primary badge-pill"><%= link_to 'View' , students_path , class:"btn btn-primary" %></span>
    </li>
  </ul>
</div>